{% load static %}
<html>
    <head>
        <title>OAuth2 Sample App - Intuit</title>
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            if (window.opener) {
                window.opener.location.href = '/app/connected'
                window.close()
            }
        </script>
        <script>
            function getInfo() {
                $("#result").html('Loading...')
                $.get("/app/qbo_request", function (data) {
                    $("#result").html(data)
                })
            }

            function getBills() {
                $("#result").html('Loading...')
                $.get("/app/qbo_bill_request", function (data) {
                    $("#result").html(data)
                })
            }

            function deleteBills() {
                $("#result").html('Loading...')
                $.post("/app/qbo_delete_bills", function (data) {
                    $("#result").html(data)
                })
            }

            function getVendors() {
                $("#result").html('Loading...')
                $.post("/app/qbo_request_vendors", function (data) {
                    $("#result").html(data)
                })
            }  

            function createNewBills() {
                $("#result").html('Loading...')
                $.post("/app/qbo_create_bills", function (data) {
                    $("#result").html(data)
                })
            }                    

            function revokeCall() {
                $("#result").html('Loading...')
                $.get("/app/revoke", function (data) {
                    $("#result").html(data)
                })
            }

            function refreshCall() {
                $("#result").html('Loading...')
                $.get("/app/refresh", function (data) {
                    $("#result").html(JSON.stringify(data, null, 2))
                })
            }
        </script>
        <style>
            body { 
                background: #ffffff;
                color: #1b4582;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <a href="/app/">Home</a>
        <h3>Connected!</h3>
        <p>Would you like to make a sample API call?</p>
        <div>
                <button onclick="getInfo()">QuickBooks getInfo</button>
                <br><br>
                <button onclick="getBills()">1. QuickBooks getBills</button>
                <button onclick="deleteBills()">2. QuickBooks Refresh Due Dates</button>
                <button onclick="getVendors()">3. QuickBooks getVendors</button>
                <button onclick="createNewBills()">4. QuickBooks createNewBills</button>
            <br>  
            <p>Tokens only last thirty minutes.</p>
            <button onclick="refreshCall()">Refresh Token Call</button>
            <button onclick="revokeCall()">Revoke Token Call</button>
            
            <br><br>
            <div><code id="result"></code></div>
        </div>
    </body>
</html>