{% load static %}
<html>
    <head>
        <title>Graham's QBO Environment Manager - Intuit</title>
        <!-- <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            if (window.opener) {
                window.opener.location.href = '/app/'
                window.close()
            }

            function launchPopup(path) {
                var win;
                var checkConnect;
                var parameters = "location=1,width=800,height=650";
                parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;

                // Launch Popup
                win = window.open(path, 'connectPopup', parameters);
            }

            function migrateCall() {
                $("#result").html('Loading...')
                $.get("/app/migration", function (data) {
                    $("#result").html(JSON.stringify(data, null, 2))
                })
            }
        </script>
        <style>
            body { 
                background: #ffffff;
                color: #1b4582;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="loggedIn" />
        <h3>Welcome to Graham's QBO Environment Manager!</h3>
        Before using this app, please make sure you do the following:
        <ul>
            <li>
                Update settings.py with your Client ID and Client Secret (found on
                <a href="https://developer.intuit.com">developer.intuit.com</a>
                )
            </li>

            <li>
                In <a href="https://developer.intuit.com">developer.intuit.com</a>,
                add an allowed Redirect URI to this sample app! (settings.py value: REDIRECT_URI)
            </li>
        </ul>

<!--         <b>OpenID flow</b><br/>
        <a class="imgLink" href="#" onclick="launchPopup('/app/openid/')">
            <img
                style="height: 40px"
                src="{% static "IntuitSignIn-lg-white@2x.jpg" %}" alt="My image"
            />
        </a>
        <br/><br/><br/> -->

        <b>OAuth2 flow</b><br/>
        <a class="imgLink" href="#" onclick="launchPopup('/app/oauth/')">
            <img
                style="height: 40px"
                src="{% static 'C2QB_white_btn_lg_default.png' %}"
            />
        </a>
        <br/><br/><br/>
<!-- 
        <b>Migration API</b><br/>
        <button onclick="migrateCall()">Migration API call</button>
        <br />
        <div><code id="result"></code></div>
        <br/><br/><br/> -->
    </body>
</html>